= form_for resource, :url => profile_path, :remote => true, :html => { :id => 'password_form' } do |f|
  = resource_error_messages!
  = hidden_field_tag :form, 'password_form'
  .actions
    = f.submit e9_t(:save_link)
