-# NOTE slides are never loaded outside the slideshow context anymore,
-# rendering this template unused/useless for now
- if resource.published? || admin?
  - content_for :slide_bottom do
    #slide-comments

  - content_for :javascripts do
    = include_javascripts :slides

  - content_for :bottom_javascripts do
    #slide-load{'data-param' => resource.to_param}

- else
  - content_for :slide_content do
    %h2.error= e9_t(:unpublished_page_error)
