/*blockquote      { color: $alt-text-color; }*/
/*abbr, acronym   { border-color: $global-border-color-1; }*/
/*del             { color: $alt-text-color; }*/
/*thead th        { background: $table-header-color; }*/
/*caption         { background: $background-color; }*/
