$textarea-height  :       250px !default;
$textarea-width   :       245px !default;
$input-width      :       245px !default;
$input-padding    :         7px !default;
$input-margin     :   0 0 0.5em !default;
$fieldset-margin  : 0 0 1.5em 0 !default;
$fieldset-padding :       1.4em !default;

@import 'includes/form';
@import 'compass/css3/box-sizing';

form.inline { 
  @include e9-inline-form; 
}

label, legend { 
  font-weight: bold; 
}

fieldset { 
  padding: $fieldset-padding;
  margin: $fieldset-margin;
  clear: both;
  fieldset {
    margin-bottom: 0.5em;
  }
}

input {
  &.text,
  &.title,
  &[type=email],
  &[type=text],
  &[type=password] { 
    padding: $input-padding;
    display:inline;
    width: 90%; 
    font-size:$theme-font-size;
    font-family:$theme-font-family !important;
  }
}

textarea { 
  margin: $input-margin;
  padding: $input-padding;
  width:94%;
  height: $textarea-height; 
  font-size:$theme-font-size;
  font-family:$theme-font-family !important;
}
select { 
  @include box-sizing('content-box');
  margin: $input-margin;
  width: $input-width;
  padding: $input-padding;
}

label {
  legend & {
    margin: 0; 
    padding: 0;
  }
  + input[type="text"], + input[type="password"], + select, + textarea {
    display: block;
  }
  &.req, &.required { 
    padding-right: 9px; 
    background: image-url("star.png") no-repeat right top; 
  } 
}

.field {
  @include pie-clearfix;
  margin: 0 0 $global-spacing-margin 0;
  padding: 0.1em 0 0;

  select {
    margin: 0;
  }

  .date-field {
    > * { vertical-align: top; }
    input { @include inline-block; }
  }
  
  img {
    margin: $input_margin;
    display: block;
  }

  /* This is a honeypot field and should never be displayed */
  &.comment-email {
    display: none;
  }

  &.tinymce {
    textarea { 
      height: $tinymce-height; 
    }
  }

  &.radio, &.checkbox {
    @include inline-block;
    vertical-align: top;
    width: inherit;
    position: relative;
    padding-left: 18px;
    float: left;
    clear: both;
    margin: 0;

    input[type=radio], input[type=checkbox] {
      background: none;
      float:left;
      display:inline;
      margin: 5px 10px 2px 0;
      width: 13px;
      height: 13px;
      position:absolute;
      left:0;
    }
    
    label {
      float:left;
      margin-bottom: 0;
      padding-bottom: 0;
      position: relative;
      top:2px;
    }
  }
  input.field_with_errors{
    border:$theme-border-width solid $theme-field-error-border-color;
    background:$theme-field-error-background-color;
  }
  div.field_with_errors{
    background-color:lighten(#F23C3C,30%);
    color:#F23C3C;
    padding:10px !important;
    float:left;
    width:94%;
  }
}

.checkbox{
  width:inherit;
  label{
    width:100%;
  }
}

.edit_topic {
  .actions {
    margin-right:25px;
  }
}
