@import "includes/typography";
@import "includes/theming";

table {
  border-collapse: separate;
  margin-bottom: 1.5em; 
  width: 100%;

  tbody tr { line-height: 1.33; }
  th, td, caption { padding: 5px 10px; }

  &.plain {
    th, td {
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  th, td {
    border-style: $theme-border-style;
    border-color: $theme-border-color;
    border:none;
    textx-align:left;
    &:first-child { 
      border-left-width: 1px; 
    }
  }
  
  th {
    border-width: 1px 1px 1px 0;
    text-align:left; 
    line-height: 2em;
    font-weight: bold; 
  } 

  td {
    @include small;
    border-width: 0 1px 1px 0;
    font-weight: normal !important; 
    border-top-width: 0px; 
    padding: 0.5em;
  }
}
body.admin{
  .txt{
    a{
      color:$theme-link-color;
      text-decoration:underline;
      &:hover{
        color:$theme-alt-text-color;
      }
    }
  }
  .records{
    border-collapse:collapse;
    tr{
      border-bottom:theme-border-style();
      &.odd{
        background:#fff;
      }
      &.even{
        background:$theme-border-color;
      }
    }
  }
}