@import "includes/typography";
@import "includes/theming";

table {
  border-collapse: collapse;
  margin-bottom: 1.5em; 
  width: 100%;

  tbody tr { line-height: 1.33; }
  th, td, caption { padding: 5px 10px; }

  &.plain {
    th, td {
      padding: 0;
      margin: 0;
    }
  }

  th, td {
    border:theme-border-style();
    text-align:left;
    &:first-child { 
    }
  }
  
  th {
    text-align:left; 
    line-height: 2em;
    font-weight: bold; 
  } 

  td {
    @include small;
    font-weight: normal !important; 

    padding: 0.5em;
  }
}
body.admin{
  .txt{
    a{
      color:$theme-link-color;
      text-decoration:underline;
      &:hover{
        color:$theme-alt-text-color;
      }
    }
  }
  .records{
    tr{
      &.odd{
       // background:#fff;
      }
      &.even{
        //background:$theme-border-color;
      }
    }
  }
}