  $main-nav-bg-color: #eeeeee !default;
  $nav-border: 1px;
@mixin default_main_nav{
  background: $main-nav-bg-color;
  font-size: 16px;
  border-bottom:$nav-border solid #cccccc;
  li { 
    border-width: 0 $nav-border 0 0;
    border-color:#ffffff;
    border-style:$theme-border-style;
    a{
      width:auto;
      padding: 10px 6px; 
      text-decoration: none;
      text-align:center;
      background-color: $main-nav-bg-color;
      white-space:nowrap;
    }
    &:first-child {
      border-top:none;
    }
    li {
      border: $nav-border solid #ccc;
      border-top:$nav-border solid #fff;
      position:relative;
      left:-$nav-border;
      a{
        font-size:.8em;
        text-align:left;
        white-space:normal;
      }
    }
  }      
}