@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";

$fat-nav-columns: 6;
$fat-nav-padding: 5px;

@mixin fat-nav(
  $columns: $fat-nav-columns, 
  $padding: $fat-nav-padding
) {
  @include fat-nav-dimensions($columns, $padding);
  @include fat-nav-base;
}

@mixin fat-nav-dimensions(
  $columns: $fat-nav-columns, 
  $padding: $fat-nav-padding
) {
  $col-width: floor($blueprint-container-size / $columns);
  a {
    width: $col-width;
    padding: 16px 0;
  }

  li ul li a {
    padding: 0 $padding 10px $padding;
  }
}

@mixin fat-nav-base {
  @include inline-block;
  width: auto;
  
  a {
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    line-height: 17px;
  }

  li {
    float: left;
    display: list-item;

    ul {
      margin-top:1em;
      min-height:250px;
      
      li {
        float:none;
        a {
          color: #FFFFFF;
          font-size: 12px;
          text-align: left;
          white-space: pre-wrap;
        }
      }
    }
  }
  .submenu {
    display: none;
  }
}
