@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";

$fat-nav-columns:                6 !default;
$fat-nav-line-height:         17px !default;
$fat-nav-horizontal-padding:   5px !default;
$fat-nav-vertical-padding:    16px !default;

@function fat-nav-height() {
  @return $fat-nav-line-height + 2 * $fat-nav-vertical-padding;
}

@mixin fat-nav(
  $columns: $fat-nav-columns, 
  $padding: $fat-nav-horizontal-padding
) {
  @include fat-nav-dimensions($columns, $padding);
  @include fat-nav-base;
}

@mixin fat-nav-dimensions(
  $columns: $fat-nav-columns, 
  $padding: $fat-nav-horizontal-padding
) {
  $col-width: floor($blueprint-container-size / $columns) - 2 * $padding;

  a {
    width: $col-width;
    padding: $fat-nav-vertical-padding $padding;
  }

  ul li a {
    padding: 0 $padding 10px $padding;
  }
}

@mixin fat-nav-base {
  @include inline-block;
  width: auto;
  
  a {
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    line-height: $fat-nav-line-height;
  }

  li {
    float: left;
    display: list-item;

    ul {
      margin-top:1em;
      min-height:250px;
      
      li {
        float:none;
        a {
          color: #FFFFFF;
          font-size: 12px;
          text-align: left;
          white-space: pre-wrap;
        }
      }
    }
  }
  .submenu {
    display: none;
  }
}
