@import "includes/buttons";


body.admin {
  #banner { 
    display: none; 
  }
  .admin-sidebar-right{
    h2, .h2{
      border-bottom:theme-border-style();
      .action-links{
        a{
          font-size:14px;
          color:$theme-alt-text-color;
          text-decoration:underline;
          &:hover{
            color:$theme-link-color;
          }
        }
      }
    }
    a{
      color:$theme-alt-text-color;
      text-decoration:underline;
      &:hover{
        color:$theme-link-color;
      }
    }
  }
  .deals-links{
    a{
      @include button;
    }
  }
  .contact-links{
    a{
      @include button;
    }
  }
  .deals-sidebar{
    a{
      text-decoration:underline;
      color:$theme-alt-text-color;
      &:hover{
        color:$theme-link-color;
      }
      img{
        border:1px solid $theme-background-color;
        &:hover{
          border:1px solid $theme-alt-text-color;
        }
      }
    }
  }
  .contact-sidebar{
    a{
      text-decoration:underline;
      color:$theme-alt-text-color;
      &:hover{
        color:$theme-link-color;
      }
    }
  }
  .edit_task{
    position:relative;
    .actions{
      position:relative;
      right:0;
      text-align:right;
      a{
        @include button;

      }
    }
  }
  
  .pagination{
      a{
        //@include button;
      }
    }
    .action-icons{
      .delete{
        background:url('/images/buttons/uiIcons.png') no-repeat -32px -5px;
        width: 20px; 
        height: 15px;
        display:block;
        text-indent:-9999em;
        &:hover{
          background-position:-32px -24px;
        }
      }
    }
  .admin-content-main{
    h2, .h2{
      border-bottom:theme-border-style();
    }
  }
  table td{
    border:1px solid $theme-border-color;
  }
  table.records {
    th {
      @include small;
      text-align:center;
      .ordered-column {
        white-space: nowrap;
        float:left;
        // The <a> will include an icon, so just underline the "text" portion
        a { 
          text-decoration: none; 
          span.text { text-decoration: underline; }
        }
      }
    }
    td {
      a{
        text-decoration:underline;
        color:$theme-alt-text-color;
        &:hover{
          color:$theme-link-color;
        }
      }
      border:1px solid $theme-border-color;
      &.id {
        text-align: center;
      }

      &.actions { 
        white-space: nowrap;

        a {
          @include x-small;
          @include button;
        }
      }
      &.record-campaign-name{
        a{
          text-decoration:underline;
          color:$theme-alt-text-color;
          &:hover{
            color:$theme-link-color;
          }
        }
      }
      &.record-name{
        a{
          text-decoration:underline;
          color:$theme-alt-text-color;
          &:hover{
            color:$theme-link-color;
          }
        }
      }

      &.link {
        a, a:link, a:visited {
          text-decoration: underline;
        }
      }
      &.actions{
        a{
          float:left;
        }
      }
      &.attended{
        input{
          margin:0 auto;
          display:block;
        }
      }
      &.checkbox {
        text-align: center;
      }

      &.center {
        text-align: center;
        a{
          text-decoration:underline;
          color:$theme-alt-text-color;
          &:hover{
            color:$theme-link-color;
          }
        }
      }

      &.actions, &.num {
        text-align: right;
        padding-right:10px;
      }

      &.cost {
        text-align: right;
        width: 150px;
        padding-right:10px;
        input[type=text] {
          float: right;
          text-align: right;
          width: 96%;
        }
      }
    }
    tr{
      border-bottom:theme-border-style();
      &.even{

      }
    }

    .viewable-status {
      margin-left: 5px;
    }
    td.record-avatar{
      img{
        border:1px solid $theme-border-color;
        &:hover{
          border:1px solid $theme-alt-text-color;
        }
      }
    }
  }
  .nested-associations{
    position:relative;
    .add-nested-association{
      clear: both;
      float: left;
      margin-left: 0;
    }
    textarea{
      margin-bottom:1em;
    }
  }
  .destroy-nested-association{
    background: url("/images/buttons/uiIcons.png") repeat scroll -32px -5px transparent;
    border: 0 none;
    height: 15px;
    padding: 0;
    right: 0px;
    top: -1px;
    width: 20px;
  }
  #records_table{
    table{
      tr{
        border-bottom:theme-border-style();
        td.actions{
          //float:left;
          a{
            @include button;
          }
        }
        .handle{
          background:url("/images/buttons/uiIcons.png")-243px -26px;
          width: 7px; 
          height: 14px;
        }
        &.active{
          .activated{
            background: url('/images/buttons/uiIcons.png') no-repeat -111px -6px;
            width: 20px; 
            height: 15px;
          }
        }
      }
      tr.even{
        background-color:#fff;
      }
      tr.odd{
        background:#fff;
      }
    }
  }
  .debug-fields{
    display:none;
  }
  .advanced-settings{
    a{
      text-decoration:underline;
      color:$theme-alt-text-color;
      font-weight:bold;
      &:hover{
        color:$theme-link-color;
      }
    }
  }
  .tag-fields{
    .field{
      float:left;
      margin-right:10px;
    }
    .actions{
      float:left;
      margin-top:23px;
    }
  }
  .tag-contexts{
    float:left;
    clear:left;
    ul{
      padding-left:0;
      .delete-tag{
        background: url('/images/buttons/uiIcons.png') no-repeat -225px -10px; 
        display:block;
        width: 8px; 
        height: 8px;
        position:relative;
        top:5px;
        margin-top:0;
      }
    }
  }
  #balance-table{
    td{padding-left:5px;}
  }
  .edit_settings{
    a{
      color:$theme-alt-text-color;
      text-decoration:underline;
      &:hover{
        color:$theme-link-color;
      }
    }
  }
  #banner-images{
    .image{
      position:relative;
    }
    .icon-delete{
      position:absolute;
      right:0;
      top:0;
      background: url("/images/buttons/uiIcons.png") repeat scroll -32px -5px transparent;
      border: 0 none;
      height: 15px;
      padding: 0;
      right: 0px;
      top: -1px;
      width: 20px;
      &:hover{
        background-position:-32px -24px;
      }
    }
  }
  .scope-selects{
    a{
      text-decoration:underline;
      cursor:pointer;
      color:$theme-alt-text-color;
      &:hover{
        color:$theme-link-color;
      }
    }
  }
  .contact-actions{
    a{
      font-size:14.4px;
      text-align:Right;
      float:right;
      font-weight:normal;
    }
  }
  #tabs{
    li{
      a{
       width:100%;
       text-indent:0;
       background-image:none;
       height:auto;

      }
      &.ui-state-active{
        a{
          color:#fff;
        }
      }
    }
  }
  #twitter-statuses{
    .pagination{
      a{
        color:$theme-alt-text-color;
        text-decoration:underline;
        &:hover{
          color:$theme-link-color;
        }      
      }
    }
  }
  .layouts{
    .actions{
      a{
        @include button;
        font-size:12px;
      }
    }
  }
}
