@import 'compass/typography/lists/horizontal-list';
@import 'compass/utilities/general/clearfix';
@import 'compass/utilities/general/min';
@import 'compass/css3/opacity';
@import 'includes/colors';
@import 'includes/lists';
@import 'includes/theming';

$slide_thumb_width: 156px !default;
$slide_thumb_height: 102px !default;
$slide_thumb_overlay_border_width: 5px !default;
$slideshow_horizontal_rule_border: 1px solid $theme-border-color;

body.slide {
  .breadcrumbs {
    margin-bottom: 1.5em;
  }
  #content-main{
    position:relative;
    #slide-overlay{
      position:absolute;
      top:0;
      width:100%;
      height:400px;
    }
  }
  #slide-top {
    @include clearfix;
    margin-bottom: $global-spacing-margin;
    padding-bottom: 0.2em;
    border-bottom: theme-border-style();
    #slideshow-title {
      float: left;
      font-size:20px;
      h2 { 
        font-weight: normal;
        color: #666; 
        margin: 0 0 0.25em; 
        font-size: 13px;
      }
    }
    #pagination {
      float: right;
      text-align: right;
      a { 
        font-style: italic; 
        text-decoration: none; 
        span { text-decoration: underline; }
      }
      span {
        font-style: italic; 
        text-decoration: none; 
      }
      .slide-pagination-prev, .slide-pagination-next {
        display: inline;
      }
      .slide-pagination-prev {
        margin-right: 15px;
      }
      .slide-pagination-info { display: none; }
    }
  }
  #slide-title h1, .tag-context-list, #slide-dashboard {
    margin: 0 0 10px;
    padding: 0;
  }

  #slide {
    margin-bottom: $global-spacing-margin;
    padding-bottom: $global-spacing-margin;
    border-bottom: $slideshow_horizontal_rule_border;
    @include min-height(365px);
  }

  #slide-dashboard {
    .action-links {
      @extend .small;
      ul { @include horizontal-list; }
    }
  }

  #slide-selector {
    height: 102px;
    width:685px;
    margin-top:25px;
    text-align: center;

    .slide-pagination {
      display: inline-block;
      @include clearfix;
      overflow: visible;
      ul{
        margin-left:2px;
      }
    }

    .slide-pagination-thumbs {
      @include clearfix;
      height: 113px;
      position: relative;
      float: left;
      width:460px;
      img { display: block; }
    }

    a img, .blank-slide {
      border: 1px solid $theme-alt-text-color;
      border-left-width: 0;
      width: 113px;
      height: 89px;
    }

    li {
      background-color: #000;
      &.current{
        border:1px solid $theme-alt-text-color;
        border-right:0px;
        img{
          height:87px;
        }
      }

      img {
        @include opacity(0.6);
      }

      &.current img {
        @include opaque;
      }

      &.blank-slide {
        background-color: $theme-foreground-color;
      }
    }

    ul {
      @include horizontal-list;
      float:none;
      margin:0 auto;
      width:999em;
      li { padding: 0; margin: 0; }      
      position: relative;
      overflow: hidden;
     
    }

    .slide-pagination-prev, .slide-pagination-next {
      float: left;
      width:10px;
      height:11px;
      a, span {
        @include inline-block;
        width: inherit;
        height: inherit;
        text-indent: -999em;
        background-color: transparent; 
        background-repeat: no-repeat;
        background-position: left top;
        cursor: default;
        outline:none;
      }
      a[href] {
        cursor: pointer;
        outline:none;
      }
      a[href]:hover {
        
      }
    }

    .slide-pagination-prev {
      span, a {  
        position:relative;
        right:10px;
        margin-top:40px;
      }
      a[href]{
        background: url("/images/previous-next.png") -46px -13px;
        &:hover{
          background: url("/images/previous-next.png") -46px -26px;
        }
      }
      a{
        background: url("/images/previous-next.png") -46px 0;
      }
      
    }

    .slide-pagination-next {
      span, a { background-position: -13px 0;
                margin-left:10px;
                margin-top:40px;
              }
      a[href]{
        background: url("/images/previous-next.png") -59px -13px;
        &:hover{
          background: url("/images/previous-next.png") -59px -26px;
        }
      }
      a{
        background: url("/images/previous-next.png") -59px 0;
      }
    }
  }

  .slide-pagination-thumbs {
    
  }

  .slide-one {
    #slide-bottom {
      //@include clearfix;
      height: 335px;
    }
    #slide-left { 
      @include column(6); 
      height: inherit;
    }
    #slide-right { 
      @include column(17, true); 
    }
    #slide-image img {
      width: 505 - 2px;
      height: 335 - 2px;
    }
  }

  .action-links {
    ul {
      @include blank-list;
      display: block;
      li {
        float: left;
        margin: 0 0 0 0.33em;
      }
    }
  }
}

#slide-body{
	height:170px;
	overflow-y: auto;
}
#slide-wrapper{
  position:relative;
  #slideshow-title{
    font-family:arvoBold;
    color:$theme-alt-text-color;
  }
  #slide-bottom-inner{
    #slide-image{
      float:left;
      display:block;
      width:100%;
      float: left;
      height: 333px;
      overflow: hidden;
      width: 100%;
      position:relative;
      margin-bottom:20px;
      img{
        width:100%;
      }
      .slideInfo{
        position:absolute;
        display:none;
        top:0;
        width:inherit;
        z-index:999;
        background:url("/images/slideInfoBg.png") repeat;
        height:inherit;
        #slide-title{
          margin-top:95px;
          margin-left:32px;
          border-bottom: 1px solid #FFFFFF;
          margin-left: 5%;
          margin-top: 95px;
          width: 90%;

          h1{
            color:#fff;
            font-size:18px;
            font-family:arial;
            font-weight:bold;

          }
        }
        #slide-body{
          margin-left:5%;
          font-size:16px;
          color:#fff;
          width:90%;
          font-style:normal;
        }
        #slide-tags{
          margin-top:10px;
          width:90%;
          margin-left:5%;
          .tag-context-list{
            margin-bottom:0px;
          }
          a{
            font-size:14px;
            color:#fff;
            &:hover{
              color:$theme-alt-text-color;
              text-decoration:underline;
            }
          }
        }
      }
    }
    #slide-dashboard{
      position:absolute;
      bottom:-32px;
      left:44%;
    }
  }
  #pagination{
    padding-top:10px;
    padding-bottom:10px;
    position: relative;
    top: -7px;
    .slide-pagination-prev {
      float:left;
      text-indent:-9999em;
      width: 20px; 
      height: 15px;
      z-index:999;
      a{
        span{
          background: url('/images/previous-next.png') no-repeat 0 -18px;
          width: 20px; 
          height: 15px;
          float:left;
          &:hover{
            background: url('/images/previous-next.png') no-repeat 0 -36px;
          }
        }
      }
      span{
        background: url('/images/previous-next.png') no-repeat 0 0; 
        width: 20px; 
        height: 15px;
        float:left;
      }
    }
    .slide-pagination-info{
      display:none;
    }
    .slide-pagination-next {
      float:right;
      text-indent:-9999em;
      z-index:999;
      width:20px;
        a{
          span{
          background: url('/images/previous-next.png') no-repeat -23px -18px;
          width: 20px; 
          height: 15px;
          float:left;
            &:hover{
              background: url('/images/previous-next.png') no-repeat -23px -36px;
            }
          }
        }
        span{
          float:left;
          background: url('/images/previous-next.png') no-repeat -23px 0;
          width: 20px; 
          height: 15px;
        }
    }
  }
}
#slide-bottom{
  position:relative;
  top:10px;
}
