= form_for(sign_in_or_sign_up? == :sign_up ? resource : User.new, :as => resource_name, :url => registration_path(resource_name), :html => { :id => 'sign_up_form', :name => 'sign_up_form', :method => 'post' }) do |f|
  = devise_error_messages!
  = render 'profiles/sign_up_form_inner', :f => f
