.admin-sidebar-right {
	
	legend {
    color:#999;
    font-weight:bold;
    font-size:inherit;
	}
	
	div, a {
    font-size:11px;
	}

	fieldset {
    padding-bottom:10px;
	}
	
	table th {
    padding:0;
    line-height:2em;
    background-color: $theme-bg-color;
	}
}

.admin .admin-sidebar-right {
	
  table {
    th, td {
      border-style: solid;
      border-color: $theme-border-color;
      border-width: 0 1px 1px 0;

      &:first {
        border-left-width: 1px;
      }
    }

    th {
      border-top-width: 1px;
    }
  }


  table th {
    border-bottom:0;
  }

  .contact-actions {
    float:right;
  }
}
