@import 'compass/utilities/general/min';

.flash-messages {
  display: none;

	.flash {
    position: fixed;
    @include min-width(100%);

    top: 0;
    z-index: 10001;
    margin-bottom: 0.67em;
		padding: 10px 0;
		font-weight:bold;
    text-align: center;
    cursor: pointer;

    &.alert {
      background-color: $theme-error-bg-color;
      color: $theme-error-color;
    }

    &.notice {
      background-color: $theme-notice-bg-color;
      color: $theme-notice-color;
    }
	}
}

#error_explanation {
  background-color: $theme-error-bg-color;
  color: $theme-error-color;
  padding: 10px;
  margin-bottom: 10px;

  h2 {
    color: $theme-error-color;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}
