@import 'includes/common';
@import 'includes/action_icons';
@import 'compass/css3/inline-block';

fieldset ul.attachments {
  // this is in the form, there's a padding on top because the file
  // field element is positioned absolutely there, always, even though
  // it's the last li in the list
  padding-top: 40px;
}

ul.attachments {
  position: relative;
  padding: 0;
  margin: 0;

  &, li {
    list-style: none none;
  }

  li.attachment-form {
    position: absolute;
    top: 0;
    left: 0;
  }

  li.attachment {
    @include inline-block;
    position: relative;

    padding: 0;
    margin: 0 5px 5px 0;

    .delete-attachment {
      @include action-icon-delete;
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }
}

.attachment-icon {
  // the thumbs are 72px
  width: 74px;
  height: 74px;

  padding: 1px;
  //border-width: 1px;
  //border-style: solid;
  //border-color: black;

  display: block;
  text-indent: -999em;

  img { 
    display: block;
    margin: 0; 
  }

  /**
   * individual styles for the different file types
   */
  &.attachment-image { background:transparent image_url("attachments/icon_file.png") top left no-repeat; }
  &.attachment-html { background:transparent image_url("attachments/icon_html.png") top left no-repeat; }
  &.attachment-xls { background:transparent image_url("attachments/icon_xls.png") top left no-repeat; } 
  &.attachment-doc { background:transparent image_url("attachments/icon_doc.png") top left no-repeat; } 
  &.attachment-ppt { background:transparent image_url("attachments/icon_ppt.png") top left no-repeat; }
  &.attachment-file { background:transparent image_url("attachments/icon_file.png") top left no-repeat; }
  &.attachment-pdf { background:transparent image_url("attachments/icon_pdf.png") top left no-repeat; }
}
