@import 'compass/css3/inline-block';
@import 'includes/typography';
@import 'includes/theming';
@import 'includes/lists';
@import 'includes/colors';
@import 'includes/theming';

/* note this mixin exists to make it easier to have different sized left blocks, like on jbreshin */
@mixin left-blockish($padding, $width: $avatar-width, $height: $avatar-height) {
  $outer-width: $width;
  width: $outer-width;
  float: left; 
  margin: 0 12px 8px 0;
  text-align: center; 
  

.action-links { 
    @include small;
    text-align: left;
    ul {
      @include blank-list;
      li { display: block; }
    }
    a { 
      float:left !important;
      @include inline-block;
      @include theme-border;
      border-top: none;
      font-weight: bold; 
      padding: 0.5em $padding;
      width: $width - $padding * 2;
      text-decoration: underline;
      color:$theme-alt-text-color;
    }
  }
  .thumb, .avatar {
    img { 
      border:theme-border-style();
      width: $width;
      height: $height;
    }
  }
}

.left-block {
  @include left-blockish(8px);
} 

.content-action-links{
  position:absolute;
  right:0;
  top:0;
}

#content-main{
  position:relative;
}
.list .listing{
  position:relative;
}
h3.header.title, h1.title{
  padding-right:82px;
}
body.page{
  .left-block{
    display:none;
  }
}
