@import 'compass/css3/inline-block';
@import 'compass/utilities/general/clearfix';
@import 'includes/typography';
@import 'includes/buttons';
@import 'includes/theming';
#comments-container{
  margin-top:2em;
  
  .header{
    border-bottom: theme-border-style();
    color: $theme-alt-text-color;
    font-size:1.2em;
    font-weight: bold;
    line-height: 1.1em;
    margin: 0 0 1em;
    padding: 0 0 0.25em;

  }
  .comment{
    float:left;
    width:100%;
    margin-bottom:18px;
    position:relative;
    .avatar{
      float:left;
      margin-right:10px;
    }
    .block{
      .prefix{
        font-size:.9em;
      }
      .action-links{
        float:left;
        right:0;
        top:-3px;
        ul{
          margin-right:10px;
          float:right;
        }
        a.action-link{
          text-decoration: underline;
          color: $theme-alt-text-color;
          font-size: 0.8em;
          text-decoration: underline;
          float:left;
          margin-right:5px;
          &:hover{
            color:$theme-link-color;
          }
        }
        span.action-link{
          text-decoration:none;
          color:#666;
          float:left;
          font-weight:Bold;
          float:left;
          margin-right:5px;
          font-size:12px;
        }
      }
    }
  }
}
#comment-form{
  $spacing: 15px;
  position: relative;

  form {
    padding: 0 0 0 ($avatar-width + $spacing);
  }

  label[for='comment_body'] {
    display:none;
  }

  #comment_body {
    margin-top: 0px;
  }

  .avatar {
    position: absolute;
    left: 0;
  }

  .info {
    font-size: 0.65em;
  }

  .actions {
    clear: both;
    float: left;
    ul {
      margin-top: 10px;
      li { margin: 0.5em; }
    }
    a { @include button; }
  }
}
