@import 'compass/utilities/general/clearfix';
@import 'includes/typography';
@import 'includes/colors';
@import 'includes/common';
@import 'includes/theming';

.list-container { 
  @include clearfix;
  margin-bottom: 1em; 
  > .header, .show-more {
    @include pie-clearfix;
    clear: both;
  }
  > .header {
    border-bottom: theme-border-style();
    .heading, .text { 
      display: inline; 
    }
    .actions, .action-links {
      a{
        float: right;
        font-size:14px;
        color:$theme-link-hover-color;
        text-decoration:underline;
        cursor:pointer;
        &:hover{
          color:$theme-link-color;
        }
      }
    }
  }
  .show-more { 
    text-align: center; 
  }
  

}

.list {
  @include clearfix;
  .listing {
    @include clearfix;
    clear: both; 
    margin-bottom: 1em;
    border-bottom:theme-border-style();
    .title { 
      //margin-bottom: $global_spacing_margin;
       
      a { 
        font-weight: bold;
        text-decoration: none; 
				font-size: 16px;
      }
    }
    .info { 
      font-size: $x-small;
      font-style: italic; 
    }

		.event-time{
	   font-size:$small;
		}
    .avatar, .thumb {
      margin-bottom: 0;
    }
  }
	.read-more {
		text-align: center;
    display: block;
    margin: $global-spacing-margin 0;
	}
}

.controller-events .list-container .event.listing .title { 
  margin-bottom: 0; 
  
	a { 
    font-weight: bold;
    text-decoration: none; 
		//font-size: 16px;
  }
}
.forums, {
  h3.header{
    margin-bottom:0;
    a{
      display:inline;
      //float:left;
      width:85%;
    }
  }
  .content-body{

  }
}
.forum{
  h3.header{
    margin-bottom:0;
    a{
      float:left;
      width:85%;
    }
  }
  .title{
    position:relative;
    .actions{
      position:absolute;
      right:0;
      padding-top: 4px;
      top: 0;
      a{
        text-decoration:underline;
      }
    }
  }
}
#blog_post_results, #user_page_results, #event_results, #slide_results, #topic_results, #comment_results, #question_results{
  .header{
    font-size:18px;
  }
}
body.admin{
  .advanced-settings{
    .list{
      float:left;
      clear:both;
      width:95%;
      position:relative;
      #selected-layout{
        float:left;
        position: absolute;
        right: 12px;
        top: 30px;
        label{
          float:left;
          clear:both;
        }
        img{
          float:left;
          clear:both;
        }
      }
    }
  }
  #selected-layout{
    position:absolute;
    top:65px;
    right:10px;
    label{
          float:left;
          clear:both;
        }
    img{
      float:left;
      clear:both;
    }
  }
  .regions{
    position:relative;
  }
}
