@import "compass/css3/inline-block";

$list_select_border: 1px solid #aaa !default;
$list_select_width: 320px !default;
$list_select_line_height: 1.5em !default;

select.list, select.node-selector, select#region_type_ids {
  margin-bottom: 0.25em;
}


ul.select, ul.nodes, ul.region-types {
  .ui-sortable-placeholder { 
    height: $list_select_line_height; 
  }
  list-style-type: none;
  padding: 0;
  max-width: $list_select_width;
  margin-top: 3px;

  &, li {
    list-style: none outside none;
  }

  li {
    position: relative;
    line-height: $list_select_line_height;
    border: $list_select_border;
    padding: 3px 0; 
    margin-bottom: 2px;

    .remove, .handle, .remove-node { 
      position: absolute;
    }

    .handle { 
      top: 6px;
      left: 8px; 
    }

    .remove, .remove-node { 
      top: 3px;
      right: 3px; 
    }

    .content {
      @include inline-block;
      padding: 0 23px;
    }
  } 
}
