@import "includes/theming";
@import "includes/typography";
.sideBar{
  border-top:none;
  .menu{
    li{
      display:block;
      &.active > a{
        font-weight:bold;
        border-bottom:1px solid $theme-border-color;
      }
      a{
        font-size:16px;
        display:block;
        padding-top:10px;
        padding-bottom:10px;
        border-bottom:1px solid $theme-border-color;
        color:#000;
        &:hover{
          color:$theme-link-hover-color;
        }
      }
      ul{
        padding-left:0px;
        li{
          a{
            font-weight:bold;
            padding-left:15px;
          }
          ul{
            li{
              a{
                font-weight:normal;
                font-family:arial;
                font-size:16px;
                padding-left:25px;
                border-top:none;
                border-bottom:1px solid $theme-border-color; 
              }
            }
          }
        }
      }
    }
    .current >a{
      font-weight:bold;
      color:$theme-alt-text-color;
    }
    .last > a{
      font-weight:bold;
    }
  }
}
