@import "includes/theming";
@import "includes/typography";

$sidebar-border: 1px solid $theme-border-color; 

.sideBar{
  .menu{
    li{
      display:block;
      &.active > a {
        font-weight:bold;
      }
      a {
        font-size:16px;
        display:block;
        padding-top:10px;
        padding-bottom:10px;
        border: none;
        color:#000;
        &:hover{
          color:$theme-link-hover-color;
        }
      }
      ul{
        padding-left:0px;
        li{
          a{
            font-weight:bold;
            padding-left:15px;
            border-top: $sidebar-border;
          }
          ul{
            li{
              a{
                font-weight: normal;
                font-family: arial;
                font-size: 16px;
                padding-left: 25px;
              }
            }
          }
        }
      }
    }
    .current > a{
      font-weight:bold;
      color:$theme-alt-text-color;
    }
    .last > a{
      font-weight:bold;
    }
  }
}
