@import 'compass/typography/lists/horizontal-list';

$disabled_color: #ddd !default;
.pagination {
  @include horizontal-list;
  em{ font-style: normal; 
	  	font-weight: bold; 
	  	color:lighten($theme-alt-text-color, 10%);
	  } 
	a{
		font-weight: bold;
	}
	.disabled{
			color:$theme-disabled-color;
	}
	.last a{
		color:$theme-link-hover-color;
		&:hover{
			color:$theme-link-color;
		}
	}
}
