@import 'compass/utilities/general/clearfix';
@import 'includes/typography';
@import 'includes/colors';


/**
 * Most sidebar renderables have automatic bottom borders,
 * with padding to match the margin;
 */
$renderable-bottom-margin: .4em !default;

#left, #right {
  
  .left.image img{
    width:100px;
  }

  blockquote {
    margin:0;
  }

  .quote-author {
    font-size:small;
    line-height: 1.2em;
    margin: 0.5em 0 0 1em;
    color:$theme-link-color;
  }

  .actions input, .actions .button {
    font-size: 0.8em;
  }

  .field {
    float:left;
  }

  .field.checkbox {
    margin:0;
    //padding-top:10px;
  }

  /* ensure clearfix for quickedit */
  .renderable, .region, .renderable-body {
    &, > * {
      @include pie-clearfix;
    }
  }

  .renderable-body > * {
    &:first-child, &.image { margin-top: 0; }
    margin-top: 0.5em;
  }
  .renderable-body{
    .image{
      a{
        img {
          border:1px solid #ccc;
        }
        img:hover {
          border:1px solid $theme-alt-text-color;
        }
      }
    }
    .action-links{
      float:right;
      margin-right:5px;
      a{
        clear:both;
        float: right;
        font-weight:bold;
        text-decoration:underline;
        margin-top:2px;
        font-size: 12px;
        padding-right: 10px;
        text-align: right;
        width: 100%;
        color:$theme-alt-text-color;
        &:hover{
          color:$theme-link-color;
        }
      }
    }
  }


  /* -------end header rule is being extended in several places ------- */

  h4 { 
    margin:0;
    a, &.title {
      margin: 0;

    }
  }

  p {
   
    display:run-in;
    clear:none;
    font-size:12px;
    line-height:1.2em;
  }

  .info {
    //@include xx-small;
    margin-bottom: 0.5em;
    p{
      font-size:10px;
    }
  }

  .renderable {
    //margin-top:1.5em;
    border-bottom: theme-border-style();
    margin-bottom:20px;
    padding-bottom:12px;

    &:first-child {
      margin-top:0 !important;
    }

    &.feed_widget, &.top_widget, &.slideshow_widget, &.poll,  &.offer, &.title-description-module {
      padding-bottom: 12px;
      margin-bottom: 20px;
      
    }
    blockquote{
      font-size:18px;
      color:$theme-alt-text-color;
      line-height:1.2em;
    }
    .offer-body{
      padding-bottom:$renderable-bottom-margin;
    }

    &.feed_widget{/*overides*/
     // padding-bottom:0;
    }

    .module-container{
      float:left;
     // margin-bottom:.7em;
    }
  } 
}

.renderable-region{
  input[type="text"],select,textarea {
    display: inline-block;
  }
  .renderable-body{
    .module-container{
      margin-top:0;
      margin-bottom:.5em;
       &:last-child{
        margin-bottom:0;
      }
    } 
  }
  .renderable-header{
    font-style:italic;
    color:$theme-alt-text-color;
    line-height:1.1em;
    font-size:14px;
    margin-bottom:12px;
  }
  p {
   
    display:run-in;
    clear:none;
    font-size:12px;
    line-height:1.2em;
  }
  h5{
      margin: 0 0 5px;
    a{
      color:$theme-text-color;
    }
  }
  h4{
    margin: 0 0 5px;
    font-size:14px;
    a{
      color:$theme-text-color;
    }
  }
  .info{
    p{
      margin-bottom:0px;
      margin-top:0;
      font-size:10px;
      line-height:1em;
    }
  }
  .image{
    margin-right:4px;
    margin-bottom:4px;
  }
  .offer{
    h2{
      font-size:14px;
      font-style:italic;
      color:$theme-alt-text-color;
      font-weight:normal;
      line-height:1.1em;
    }
    .field{
      padding:0;
      margin-top:10px;
      margin-bottom:10px;
      float:left;
      div{
       margin-top:1.2em;
      }
    }
    fieldset{
      padding:10px;
      .checkbox{
        label{
          float:right;
          margin-top:2px;
          width:153px;
          margin-left:20px;
        }
      }
    }
    input[type="text"],select{
      margin-top:.7em;
    }
  }
}
.footer-menu {
  float: left;
  margin-top: 0;
  li{
    clear: both;
    float: left;
  }
}
