$getthefieldStyle : $rightsideBarWidth;

#right, #left{
	.field{
    padding-top:.5em;
    padding-bottom:.5em;
    div{
      padding:inherit;
    }
    input, textarea{
      float:left;
    }
    input[type="checkbox"], input[type="radio"]{
      float:left;
      width:auto;
      margin-right:10px;
      margin-top:2px;
    }
    select{
      width:94%;
    }
	}
}