@import 'compass/utilities/general/clearfix';
@import 'includes/common';
@import 'includes/typography';
@import 'includes/lists';

ul.social-module {
  @include blank-list;
  padding: 0;
  margin: 0;
  white-space: normal; 

  li { 
    @include clearfix;
    margin: 0 0 $global_spacing_margin;
  }
  a {
    font-weight: normal;
    font-style: italic;
    font-size: $x-small;
    display:block;
    margin-bottom:10px;
  }
}

a.social-link {
  @include clearfix;

  &:hover {
    text-decoration: underline;
    .text { text-decoration: inherit; }
  }

  .img, .text { 
    float: left; 
  }
  .img { margin-right: 8px; }
}

.social-feed-title {
  line-height: 35px;
  a.social-link .text { display: none; } 
}

/* social popup form */
#social-networking-form {
  textarea { height: 140px; }
}

.admin-sidebar-right .social-feed {
  width: 100%;
  float: none;

  .feed-description {
    display: none;
  }
}
.social-feed {
  @include spaceless;
  float: left;
  width: 49%;
  border-left: none;

  .social-feed-title {
    padding: 5px 10px;
    border-bottom: 1px solid #cccccc;
    @extend .site-sans;
    font-weight: bold; 
  }

  .pagination {
    text-align: center; 
  }

  .feed {
    padding: 10px;
    @include small;

    .feed-avatar, .inner {
      float: left;
    }

    .feed-status {
      color: $theme-alt-text-color;
    }

    .inner {
      width: auto;
      div {
        margin-bottom: 0.33em;
      }
    }

    .feed-name {
      display: none;
    }

    .feed-time, .feed-caption {
      font-style: italic; 
    }

    .feed-item {
      @include clearfix;
      position: relative;
      margin-bottom: 1.2em;

      $avatar-width: 50px;
      $button-width: 20px;
      $padding: 5px;

      padding-left: $avatar-width + $padding;
      padding-right: $button-width + $padding;

      .feed-avatar, .action-icons {
        position: absolute;
        top: 0;
      }

      .feed-avatar {
        &, img { width: $avatar-width }
        left: 0;
      }

      .action-icons {
        position: absolute;
        right: 0;
      }
    }
  } 
}
