@import 'compass/css3/inline-block';
@import "includes/common";

.sprite { @include sprite-like; }
$common-sprite-dimensions:true;
@import "sprites/common/*.png"; /**/



.icon-delete { @extend .sprite; @include common-sprite(close); }
.icon-print { @extend .sprite; @include common-sprite(print); }
.icon-edit { @extend .sprite; @include common-sprite(edit); }
.icon-friend-email { @extend .sprite; @include common-sprite(email); }
.icon-permalink { @extend .sprite; @include common-sprite(link); }
.icon-favorite { @extend .sprite; @include common-sprite(favorite); }
.icon-unfavorite { @extend .sprite; @include common-sprite(unfavorite); }
.icon-tools { @extend .sprite; @include common-sprite(tools); }
a.help { @extend .sprite; @include common-sprite(info); }


.share-site a {
  @extend .sprite;
  @extend .common-sprite;

  &.i1  { @include common-sprite(yahoo_buzz); }
  &.i5  { @include common-sprite(delicious); }
  &.i6  { @include common-sprite(digg); }
  &.i10  { @include common-sprite(facebook); }
  &.i11 { @include common-sprite(google); }
  &.i12 { @include common-sprite(google_buzz); }
  &.i14 { @include common-sprite(kaboodle); }
  &.i17 { @include common-sprite(linked_in); }
  &.i18 { @include common-sprite(mixx); }
  &.i21 { @include common-sprite(propellor); }
  &.i22 { @include common-sprite(reddit); }
  &.i29 { @include common-sprite(stumble_upon); }
  &.i30 { @include common-sprite(technorati); }
  &.i31 { @include common-sprite(twitter); }
}
$slide-sprite-dimensions:true;
@import "sprites/slide/*.png"; /**/


body.slide .action-links {
  a.more-info-link, a.dashboard-link, a.comments-link, a.share-bar-link {
    @include sprite-like;
    @extend .sprite;
    @extend .slide-sprite;
    margin-left: 0.2em;
    &.more-info-link { @include slide-sprite(info); }
    &.dashboard-link { @include slide-sprite(action); }
    &.share-bar-link { @include slide-sprite(share); }
    &.comments-link { @include slide-sprite(comment); }
  }
}

$social-sprite-dimensions:true;
@import "sprites/social/*.png"; /**/


a.social-link {
  .img { @extend social-sprite; }
  &.facebook .img { @include social-sprite(facebook); }
  &.twitter .img { @include social-sprite(twitter); }
  &.linked-in .img { @include social-sprite(linked_in); }

}

ul.social-module li:hover a.social-link {
  &.facebook .img { @extend .facebook-hover; }
  &.twitter .img { @extend .twitter-hover; }
  &.linked-in .img { @extend .linked_in-hover; }

}
/**
 * oddball
 */

a.feed {
  @include sprite-background('/images/buttons/rss.png', 15px);
  margin-right: 5px;
  width:15px;
}
