@import 'compass/utilities/general/clearfix';
@import 'compass/css3/inline-block';
@import 'includes/css3';
@import 'includes/typography';
@import 'includes/form';

$toolbar-background-color: $theme-foreground-color !default;
$toolbar-header-color: $theme-h1-color !default;
.admin {
  .toolbar {
    @include theme-border;
    margin-bottom: $global_spacing_margin;
    padding: 0.5em;
    background: $toolbar-background-color;
    background: $theme-foreground-color;

    &, .toolbar-inner {
      @include clearfix;
    }

  	.toolbar-inner {
  		background: transparent url(images/toolbar_dividers.png) top center repeat-y;
  	}

    .toolbar-header {
      color: $toolbar-header-color;
      @include large;
      font-weight: bold;
      margin-bottom: 0.33em;
    }

    .toolbar-actions a {
      @include x-small;
    }
  	
    label {
      margin: 0;
      border: 0;
      display: block;
    }

    select, input[type=text] {
      width: inherit;
      margin-top: 0;
    }

    .field, form {
      width: 98%;
    }

    .toolbar-left, .toolbar-middle, .toolbar-right { 
  	  position: relative;
      width: 31%;
      padding: 0 1%;
  		float: left; 
  	}

    .toolbar-right {
      select, input[type=submit] {
        float: left;
      }
      select {  
        width: 75%; 
        margin-right: 3px;
      }
    }

    .field.clear {
      @include button;
      @include x-small;
      position: absolute;
      top: 0;
      right: 5px;
      width: 3em;
      padding: 3px 8px;
    }

    .deal-photo, .contact-photo {
      float: left;
      width: 11%;
    }
    .deal-info, .contact-info {
      float: left;
      width: 85%;

      .deal-value, .contact-who {
        @include x-large;
        color: $theme-header-color;
      }

      .contact-tags, .deal-tags {
        margin-bottom: 0.33em;
      }

      fieldset {
        background-color: inherit;
        border: 0;
        padding: 0.2em 0 0.33em;
        margin: 0 0 0.33em;

        legend {
          padding: 0;
        }
        p {
          margin-top: 0;
        }
      }
    }
  }
}

body.admin {
  @mixin toolbar-two-col($hide: 'middle') {
    .toolbar-inner { 
      background: transparent url(images/toolbar_divider.png) 66% 0% repeat-y; 
    }
    .toolbar-left { 
      width: 64%;
    }
    .toolbar-middle, .toolbar-right {
      width: 32%;
    }
    // see how the variable is used to determine which section to hide?
    .toolbar-#{$hide} { display: none; }
  }

  @mixin toolbar-one-col {
    .toolbar-inner { 
      background: transparent none;
    }
    .toolbar-left { 
      width: 98%; 
    }
    .toolbar-middle, .toolbar-right { 
      display: none; 
    }
  }

  @mixin toolbar-two-col-special {
    .toolbar-inner { 
      background: transparent url(images/toolbar_divider.png) 30% 0% repeat-y; 
    }
    
    .toolbar-left { 
      width: 25%; 
    }

    .toolbar-middle { 
      display: none; 
    }

    .toolbar-right { 
      width: 69%; 
    }
  }

  /*- - - - 2 columns - - - - -*/
  &.controller-admin-comments,
  &.controller-admin-social-feeds,
  &.controller-e9-crm-offers,
  &.controller-admin-slideshows,
  &.controller-admin-slides,
  &.controller-admin-feed-widgets,
  &.controller-admin-widget-templates,
  &.controller-e9-polls-polls,
  &.controller-admin-snippets,
  &.controller-admin-top-widgets,
  &.controller-admin-blogs,
  &.controller-admin-mailing-lists,
  &.controller-admin-user-pages, 
  &.controller-admin-banners,
  &.controller-admin-banners.template-manage,
  &.controller-admin-forums,
  &.controller-admin-slideshow-widgets,
  &.controller-admin-mailing-lists,
  &.controller-e9-crm-dated-costs,
  &.controller-admin-event-registrations, 
  &.controller-e9-crm-contacts.template-edit,
  &.controller-e9-crm-deals.template-edit,
  &.controller-e9-crm-companies.template-index {
    @include toolbar-two-col;
  }
  
  &.controller-admin-email-reports {
    @include toolbar-two-col($hide: 'right');
  }
  
  &.controller-e9-crm-deals.template-show, &.controller-e9-crm-contacts.template-show {
    @include toolbar-two-col-special;
  }	
  
  /*- - - - 1 columns - - - - -*/
  &.controller-e9-crm-contacts.template-show,
  &.controller-e9-crm-deals.template-show,
  &.controller-admin-searches, 
  &.controller-admin-email-deliveries, 
  &.controller-admin-system-emails,
  &.controller-admin-layouts,
  &.controller-admin-system-pages {
    @include toolbar-one-col;
  }
}

.toolbar {
  background:$theme-border-color;
  padding:10px;
  margin-bottom:10px;
  input[type="submit"]{
     padding: 5px 7px 6px;
  }
  input[type="text"]{
    border-color:$theme-field-focus-border-color;
  }
}
