body.controller-admin-layouts {
  fieldset.layout-group { margin-bottom: 1.5em; } 
  .layout {
    .actions { 
      margin-bottom: 0.333em; 
    }
    float: left;
    padding-right: 1em;
    overflow: hidden; 
  }
}
