@import 'compass/utilities/general/min';

body.controller-images, #cboxLoadedContent {
  $max-width: 950px;
  $row-height: 100px;
  $image-margin: 8px;

  .image-management {
    margin: $image-margin 0;
    width: 950px;

    .images, form {
      display: block;
      float: left;
      height: $row-height * 3 + $image-margin * 2;
      padding: $image-margin;
      overflow-y: auto;
    }

    $form-width: 178px - 2 * $image-margin;

    form {
      width: $form-width;
      label {
        width: 85%;
      }
      input {
        width: 10%;
      }
    }

    .images {
      width: 772px - 2 * $image-margin;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none outside none;
    }

    li {
      display: block;
      overflow: hidden;
      padding: 0 5px 5px 0;
      input, label {
        float: left;
      }
      label {
        margin-left: 5px;
      }
    }

    .image {
      margin: 0 $image-margin $image-margin 0;
      float: left;

      .tooltip {
        display: none;
      }

      a, img {
        display: block;
      }

      &.constrained {
        @include min-height($row-height);
        &, img { 
          max-height: $row-height; 
        }
      }

      img {
        border: none;
        max-width: $max-width - 10px;
      }
    }
  }
}
