- @nested_association_options = capture do
  - if (types = AddressAttribute.types).present?
    = f.fields_for f.object.options do |ff|
      .field
        = ff.select :type, types

= render RecordAttribute::LAYOUT_PARTIAL, :f => f, :value_field_type => :text_area
