@import 'includes/theming';
$base-font-size:                14px !default;
$theme-font-size:    $base-font-size !default;

$xx-small:                   0.7     !default;
$xx-small-line-height:       1.1     !default;

$x-small:                    0.8     !default;
$x-small-line-height:        1.2     !default;

$small:                      0.9     !default;
$small-line-height:          1.2     !default;

$medium:                       1     !default;
$medium-line-height:         1.2     !default;

$large:                      1.1     !default;
$large-line-height:          1.2     !default;

$x-large:                   1.25     !default;
$x-large-line-height:        1.3     !default;

$xx-large:                   1.4     !default;
$xx-large-line-height:       1.4     !default;


@function -font-size($p, $base: false) {
  @if not $base {
    $base: if($theme-font-size, $theme-font-size, $base-font-size);
  }

  @return $base * $p;
}

@mixin xx-small { 
  font-size: -font-size($xx-small);
  line-height: $xx-small-line-height; 
}

@mixin x-small { 
  font-size: -font-size($x-small);
  line-height: $x-small-line-height; 
}

@mixin small { 
  font-size: -font-size($small);
  line-height: $small-line-height; 
}

@mixin medium { 
  font-size: -font-size($medium);
  line-height: $medium-line-height; 
}

@mixin large { 
  font-size: -font-size($large);
  line-height: $large-line-height; 
}

@mixin x-large { 
  font-size: -font-size($x-large);
  line-height: $x-large-line-height; 
}

@mixin xx-large { 
  font-size: -font-size($xx-large);
  line-height: $xx-large-line-height; 
}

$sans-font-family: Arial, Helvetica, Geneva, sans-serif !default;
$serif-font-family: Georgia, 'Times New Roman', serif !default;
$fixed-width-font-family: 'andale mono', 'lucida console', monospace !default;
$fixed-width-line-height: 1.5 !default;

@mixin sans { 
  $family: if($theme-sans-font-family, $theme-sans-font-family, $sans-font-family);
  @if $family {
    font-family: $family;
  }
}

@mixin serif { 
  $family: if($theme-serif-font-family, $theme-serif-font-family, $serif-font-family);
  @if $family {
    font-family: $family;
  }
}

@mixin fixed-width { 
  $family: if($theme-fixed-width-font-family, $theme-fixed-width-font-family, $fixed-width-font-family);
  @if $family {
    font-family: $family;
    line-height: $fixed-width-line-height;
  }
}
